.containerFlex {
  display: flex;
 
}

.url {
  background: #6fc2d0;
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  
}

.data {
  background: #beeef7;
  width: 70%;
  height: 100vh;
  overflow-y: auto;
}

input {
  border: 2px solid #373a6d;
  height: 30px;
  width: 200px;

}

.searchButton {
  margin-left: 5px;
  border: 2px solid #373a6d;
  height: 35px;
  font-size: 16px;
  color: #373a6d;
  font-weight: 700;
}

form {
  display: inline-block;
}

.inputSection {
  display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    border-bottom: 3px solid #373a6d;
    align-items: center;
    padding: 15px;
}

.urlHistory {
  position: relative;
  border: 3px solid #373a6d;
  position: relative;
  margin-top: 10px;
  padding: 12px;
}

.x {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #373a6d;
  font-size: 16px;
  color: #ff8246;
  cursor: pointer;
  
}

.feedUrl {
  text-transform: uppercase;
  color: #373a6d;
  
}

.feedDescription{
  text-transform: uppercase;
  color: #beeef7;
  
}

.feedDetails {
  background: #373a6d;
    position: relative;
    border: 3px solid #373a6d;
    margin-top: 10px;
    padding: 12px;
    border-radius: 5px;
    margin: 10px;
    height: 200px;
  

}

.heading {text-align: center;
color: #ff8246;

}

.urlHistoryContainer{
  overflow-y: auto;
  overflow-x: hidden;
}

.urlHistoryActive {
  background: #ff8246;
}